@import "sass/variables";

.aircrafts-container {
    min-height: 70%;
    height: 580px;
    background-color: #ececec;
}

.aircraft-div {
    position: relative;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    display: table;
}

.aircraft-inner-div {
    position: absolute;
    border: 1px solid $secondary;
    border-radius: 6px;
    box-shadow: 2px 5px 8px #888888;
    color: $secondary;
    background-color: $tertiary;
    top: 18%;
    left: 10%;
    width: 80%;
    height: 80px;
    margin-top: 10px;
}

.aircraft-id {
    font-weight: bold;
    line-height: 40px;
}